<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<th:block th:fragment="sidebarFragment">

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
                <div>
                    <i class="fa fa-home"></i>
                </div>
                <div class="sidebar-brand-text mx-3">학사정보 관리</div>
            </a>
            <hr class="sidebar-divider my-0">
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                MENU
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/notice/list">
                    <i class="fas fa-fw fa-bell" aria-hidden="true"></i>
                    <span>공지사항</span>
                </a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link collapsed" href="/account/list">
                    <i class="fas fa-fw fa-users"></i>
                    <span>직원 관리</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/student/list">
                    <i class="fas fa-fw fa-address-card"></i> <!-- 아이콘 수정 -->
                    <span>학적 관리</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-graduation-cap"></i>
                    <span>수업 관리</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/education/list">교과목 관리</a>
                        <a class="collapse-item" href="/lecture/list">개설과목관리</a>
                        <a class="collapse-item" href="/major/list">전공관리</a>
                    </div>
                </div>
            </li>
            <div class="text-center d-none d-md-inline">
            	<button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
</th:block>
</html>