<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="thymeleaf/fragments/login/head :: headFragment"></th:block>

<body>
    <div class="container d-flex align-items-center justify-content-center vh-100">

        <!-- Outer Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div layout:fragment="content"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <th:block th:replace="thymeleaf/fragments/login/script :: scriptFragment"></th:block>
</body>
</html>