<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="thymeleaf/fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <th:block th:replace="thymeleaf/fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <th:block th:replace="thymeleaf/fragments/topbar :: topbarFragment"></th:block>
                    <th:block class="h-100" layout:fragment="content"></th:block>
                </div>
                <th:block th:replace="thymeleaf/fragments/footer :: footerFragment"></th:block>
            </div>
        </div>
        <th:block th:replace="thymeleaf/fragments/script :: scriptFragment"></th:block>
    </body>
</html>