<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-sm">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex">
				<div>
					<h6 class="m-0 font-weight-bold text-primary">공지사항 조회</h6>
				</div>
				<div class="ml-auto">
					<a class="btn btn-outline-danger mr-2"
						th:href="@{/notice/delete(id=${noticeDetail.id})}">삭제</a>
				</div>
				<div>
					<a class="btn btn-outline-info"
						th:href="@{/notice/update/}+${noticeDetail.id}">수정</a>
				</div>
			</div>
			<div class="card-body">
				<input type="hidden" id="noticeId" th:value="${noticeDetail.id}">
				<input type="hidden" id="loginId"
					th:value="${#authentication.principal.username}">
				<table class="table table-bordered" style="min-height: 500px;">
					<colgroup>
						<col width="10%">
						<col width="40%">
						<col width="10%">
						<col width="40%">
					</colgroup>

					<tr style="height: 10%" class="text-center">
						<!-- 작성자 -->
						<td class="bg-gray-200">작성자</td>
						<!-- writer -->
						<td th:text="${noticeDetail.writer}"></td>
						<!-- 등록일 -->
						<td class="bg-gray-200">등록일</td>
						<!-- Cdate -->
						<td th:text="${noticeDetail.createDate}"></td>
					</tr>
					<tr style="height: 10%">
						<!-- 제목 -->
						<td class="bg-gray-200 text-center">제목</td>
						<td colspan="3" th:text="${noticeDetail.noticeTitle}"></td>
					</tr>
					<tr style="height: 80%">
						<td class="bg-gray-200 text-center">내용</td>
						<td colspan="3" th:utext="${noticeDetail.content}"></td>
					</tr>

				</table>

			</div>
		</div>
		<div class="card mb-2">
			<div class="card-header bg-light">
				<i class="fa fa-comment fa-flip-horizontal"></i> 댓글
			</div>
			<div class="card-body row">
				<textarea class="form-control m-0 p-0" id="replyText" rows="3"></textarea>
				<div class="ml-auto">
					<button type="button" class="btn btn-info mt-3"
						onClick="javascript:addReply();">댓글달기</button>
				</div>
			</div>
			<div id="replyContents"></div>
		</div>
	</div>

	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict';

			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();

		$(function () {
			listReply();
		});

		function listReply(){
			var noticeId = $('#noticeId').val();
			var loginId = $('#loginId').val();
			var url = '/reply/list';
			$.ajax({
				url: url,
				data : {
					noticeId : noticeId
				},
				success:function(data){
					result = replyHtmlSetting(data, loginId);
					$("#replyContents").html(result);
				}
			})
		}

		function addReply(){
			var content = $('#replyText').val();
			var noticeId = $('#noticeId').val();
			var loginId = $('#loginId').val();
			var url = '/reply/create/';
			var result ='';
			$.ajax({
				url: url,
				data : { 
					content : content, 
					noticeId : noticeId
				},
				success:function(data){
					result = replyHtmlSetting(data, loginId);
					$("#replyContents").html(result);
					$('#replyText').val('')
				}
			})
		}

		function removeReply(replyId){
			var noticeId = $('#noticeId').val();
			var loginId = $('#loginId').val();
			var url = '/reply/delete';
			var result ='';
			$.ajax({
				url: url,
				data : { 
					replyId : replyId,
					noticeId : noticeId
				},
				success:function(data){
					result = replyHtmlSetting(data, loginId);
					$("#replyContents").html(result);
				}
			})
		}

		function modifyReplyForm(modifyId){
			console.log(modifyId);
			var modify = $(modifyId);
			console.log(modify.attr('id'));
			var id = String(modify.attr('id'));
			var textareaId = 'textarea'+id;
			console.log(modify.children().first().text());
			var textVal = modify.children().first().text();
			var replyModify = `
					<textarea class="col-10 p-0 form-control" id="${textareaId}">${textVal}</textarea>
					<div class="mr-auto col-2 p-0 my-3">
						<a class="btn btn-outline-info btn-sm ml-5" onclick="modifyReply('${id}', '${textareaId}');">수정</a>
						<a class="btn btn-outline-info btn-sm" onclick="listReply();">취소</a>
					</div>
			`;
			modify.html(replyModify);
		}

		function modifyReply(modifyId, textareaId){
			console.log('modifyReply:'+modifyId);
			console.log('textareaId:'+textareaId);
			var content = $('#'+textareaId).val();
			var idSplit = modifyId.split('y');
			var replyId = idSplit[1];
			console.log(replyId);
			console.log(content);

			var loginId = $('#loginId').val();
			var url = '/reply/update/';
			var result ='';
			$.ajax({
				url: url,
				data : { 
					content : content, 
					replyId : replyId
				},
				success:function(data){
					result = replyHtmlSetting(data, loginId);
					$("#replyContents").html(result);
				}
			})
		}

		function replyHtmlSetting(data, loginId){
			var result ='';
			for(var reply of data){
				var photoId = null;
				if(reply.manager.photo != null){
					photoId = reply.manager.photo.id;
				}

				var modifyId = 'reply'+reply.id;
				var modifyOption = `
					<div class="mr-auto col-2 p-0">
						<a class="btn btn-outline-info ml-4 mr-2" onclick="modifyReplyForm(${modifyId});">수정</a>
						<a class="btn btn-outline-danger" onclick="removeReply(${reply.id});">삭제</a>
					</div>
				`;

				if(reply.manager.loginId != loginId){
					modifyOption = '';
				}
				var replyContent = `
				<div class="media border p-2">
					<img src="/download/${photoId}" onerror="javascript:src='/img/test.jpg'" class="rounded-circle mt-3" style="width:60px; height:60px">
					<div class="media-body ml-3 mt-3">
					<h6 class="bold">${reply.manager.name}<small class="ml-2"><i>${reply.createDate}</i></small></h6>
					<div id="${modifyId}" class="d-flex">
						<p class="col-10 p-0">${reply.contents}</p>
						${modifyOption}
					</div>
					</div>
				</div>
				`;

				result += replyContent;
			}

			return result;
		}
	</script>
</div>
</html>