<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- DataTales Example -->
		<div class="card shadow mx-auto w-75">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">공지목록 조회</h6>
			</div>
			<form id="pageForm" class="card-body" th:object="${condition}" th:action="@{/notice/list}" >
				<div class="d-flex mb-2">
					<div class="input-group mr-auto">
						<div class="input-group-prepend">
							<select class="form-control mr-2" th:field="*{type}" >
								<option value="">
									검색조건
								</option>
								<option value="title">
									제목
								</option>
								<option value="writer">
									작성자
								</option>
							</select>
							
						</div>
						<input type="text" class="form-control mr-2" th:field="*{text}">
						<button class="btn btn-sm btn-outline-primary mr-2">검색</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover text-center" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>제목</th>
								<th>작성자</th>
								<th>조회수</th>
								<th>등록일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="notice : ${page.getContent()}">
								<td><a href="/notice/detail" th:text="${notice.noticeTitle}"></a></td>
								<td th:text="${notice.writer}"></td>
								<td th:text="${notice.viewcount}"></td>
								<td th:text="${notice.createDate}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-center">
					<ul class="pagination" th:if="${pager.totalRows != 0}">
						<li class="page-item disabled" th:if="${!page.isFirst()}"><a class="page-link" th:href="@{/account/list(page=0}">처음</a></li>
						<li class="page-item" th:if="${pager.groupNo > 1 }"><a class="page-link" th:href="@{/account/list(page=${pager.startPageNo-1})}">이전</a></li>
						<th:block th:each="num : ${#numbers.sequence(pager.startPageNo,pager.endPageNo)}"> 
							<li class="page-item">
								<a class="page-link" th:onclick="|pageMove('${num-1}')|"th:text="${num}"></a>
							</li>
						</th:block>
						<li class="page-item" th:if="${pager.groupNo < pager.totalGroupNo}"><a class="page-link" th:href="@{/account/list(page=${pager.endPageNo+1})}">다음</a></li>
						<li class="page-item" th:if="${!page.isLast()}"><a class="page-link" th:href="@{/account/list(page=${page.getTotalPages())}">맨끝</a></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
	
</div>

</html>