<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- DataTales Example -->
		<div class="card shadow mx-auto w-75">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">전공 관리</h6>
			</div>
			<form id="pageForm" class="card-body" th:object="${condition}"
				action="/major/list">
				<div class="d-flex mb-2">
					<div class="input-group mr-auto">
						<div class="input-group-prepend">
							<select name="" id="" class="form-control mr-2" th:field="*{type}">
								<option value="code">전공코드</option>
								<option value="title">과목명</option>
							</select>
						</div>
						<input type="text" class="form-control mr-2" th:field="*{text}">
						<button class="btn btn-outline-primary mr-2">검색</button>
						<a class="btn btn-outline-info"
							onclick="location.href='/major/create'">등록</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover text-center" id="dataTable">
						<thead>
							<tr>
								<th>전공명</th>
								<th>전공코드</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="major : ${page.getContent()}">
								<td th:text="${major.title}"></td>
								<td><a th:href="@{/major/detail/}+${major.id}"
									th:text="${major.code}"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</div>

</html>