<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-sm">
		<form class="card shadow mb-4" th:action="@{/major/update}" th:object="${detailObject}" method="post" novalidate>
			<div class="card-header py-3 d-flex">
				<div>
					<h6 class="m-0 font-weight-bold text-primary">전공 조회</h6>
				</div>
				<div class="ml-auto">
					<a class="btn btn-outline-danger mr-2"
						th:href="@{/major/delete(id=${detailObject.id})}">삭제</a>
					<button class="btn btn-outline-info" type="submit">수정</button>
				</div>

			</div>
			<div class="card-body">
				<div class="row g-3">
					<div class="col-sm-6">
						<label for="title" class="form-label">전공명</label> <input type="text" class="form-control" th:field="*{title}" th:value="${detailObject.title}"></input>
					</div>

					<div class="col-sm-6">
						<label for="code" class="form-label">전공코드</label> <input type="text" class="form-control" th:field="*{code}" th:value="${detailObject.code}"></input> <input type="hidden" th:field="*{id}"></input>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</html>