<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/login_layout">

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="p-5">
                <div class="text-center">
                    <h1>등록에 성공했습니다.</h1>
                </div>
                <hr>
                <div class="text-center">
                    <a class="small" href="/student/list">확인</a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>