<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="thymeleaf/layout/default">
<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex">
				<div>
					<h6 class="m-0 font-weight-bold text-primary">학적정보 수정</h6>
				</div>
				<div class="ml-auto">
					<button class="btn btn-block btn-outline-info"
						onclick="history.back(-1)">취소</button>
				</div>
			</div>
			<form class="needs-validation" th:action="@{/student/modify}"
				th:object="${student}" method="POST" enctype="multipart/form-data"
				oninput='password2.setCustomValidity(password2.value != password.value ? "비밀번호가 맞지 않습니다." : "")'
				novalidate>
				<div class="card-body">
					<div class="d-flex">
						<img th:src="@{${'/account/download/' + student.photo.id }}"
							id="image" class="img-responsive rounded ml-auto border p-3"
							width="300" height="300" onerror="javascript:src='/img/test.jpg'" />
						<div class="mt-auto">
							<input class="file-upload" type="file" id="chooseFile"
								th:field="*{image}" name="chooseFile" accept="image/*"
								onchange="loadFile(this)">
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
					<div class="row g-3">
						<div class="col-sm-6">
							<label class="form-label">이름</label> <input type="text"
								class="form-control" id="이름" placeholder="이름을 입력하세요"
								th:field="*{name}" required>
							<div class="invalid-feedback">유효한 이름이 아닙니다.</div>
						</div>
						<div class="col-sm-6">
							<label class="form-label">학번</label> <input type="text"
								class="form-control" id="학번" placeholder="이름을 입력하세요"
								th:field="*{studentNumber}" required>
							<div class="invalid-feedback">유효한 학번이 아닙니다.</div>
						</div>
						<div class="col-sm-6">
							<label class="form-label">전화번호</label> <input type="text"
								class="form-control" id="전화번호" placeholder="전화번호를 입력하세요"
								th:field="*{telNo}" required>
							<div class="invalid-feedback">유효한 전화번호가 아닙니다.</div>
						</div>
						<div class="col-sm-6">
							<label class="form-label">생년월일</label> <input type="date"
								class="form-control" id="생년월일" placeholder="생년월일"
								th:field="*{birth}" required>
							<div class="invalid-feedback">유효한 생년월일이 아닙니다.</div>
						</div>
					</div>

					<hr class="my-4">

					<div class="row g-3">
						<div class="col-sm-6">
							<label class="form-label">전공</label> <select class="form-control"
								th:field="*{majorId}" id="전공" required>
								<option th:each="major : ${majorList}" th:value="${major.id}"
									th:text="${major.title}"
									th:selected="${major.title eq student.major.title}"></option>
							</select>
							<div class="invalid-feedback">전공을 선택하세요</div>
						</div>
						<div class="col-sm-6">
							<label class="form-label">학적상태</label> <select
								class="form-control" th:field="*{status}" id="학적상태" required>
								<option value="">학적을 선택하세요</option>
								<option value="graduated"
									th:selected="${graduated eq student.status}">졸업</option>
								<option value="leave" th:selected="${leave eq student.status}">휴학</option>
								<option value="attending"
									th:selected="${attending eq student.status}">재학</option>
								<option value="returned"
									th:selected="${returned eq student.status}">복학</option>
								<!-- <option
									th:each="academicValue : ${T(com.metanet.intern.enummer.Academic).values()}"
									th:value="${academicValue}" th:text="${academicValue}"
									th:selected="${academicValue eq student.status}"></option> -->
							</select>
							<div class="invalid-feedback">유효한 학적상태가 아닙니다.</div>
						</div>
						<div class="col-12">
							<label class="form-label">학기</label> <input type="text"
								class="form-control" id="학기" placeholder="학기를 입력하세요"
								th:field="*{semester}" required>
							<div class="invalid-feedback">유효한 학기가 아닙니다.</div>
						</div>
						<div class="col-sm-6">
							<label class="form-label">생성일</label> <input type="text"
								class="form-control" id="생성일" th:field="*{createDate}" disabled>
						</div>
						<div class="col-sm-6">
							<label class="form-label">수정일</label> <input type="text"
								class="form-control" id="수정일" th:field="*{modifyDate}" disabled>
						</div>
					</div>
					<hr class="mb-4">
					<button class="btn btn-lg btn-outline-info btn-block">수정</button>
				</div>
			</form>
			<form th:action="@{/student/modify}" th:object="${student}">
				<input type="hidden" th:field="*{id}" />
				<div class="card-body">
					<button class="btn btn-lg btn-outline-info btn-block">삭제</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			var readURL = function(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function(e) {
						$('#image').attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			$(".file-upload").on('change', function() {
				readURL(this);
			});

			$(".upload-button").on('click', function() {
				$(".file-upload").click();
			});
		});
	</script>
</div>
</html>