<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex">
				<div>
					<h6 class="m-0 font-weight-bold text-primary">교직원 조회</h6>
				</div>
				<div class="ml-auto">
					<button class="btn btn-sm btn-outline-info"  onclick = "location.href='/records/modify'">수정</button>
				</div>
			</div>
            <div class="card-body">
				<img th:unless="${detailObject.photo.id != 0}" src="/img/test.jpg" class="img-responsive rounded mx-auto d-block border p-3" width="300" height="300" alt="..."/>
            	<img th:if="${detailObject.photo.id != 0}" th:src="@{${'/account/download/' + detailObject.photo.id }}" class="img-responsive rounded mx-auto d-block border p-3" width="300" height="300" alt="..."/>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">이름</label> 
                        <input type="text" class="form-control" th:value="${detailObject.name}" disabled></input>
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">아이디</label> 
                        <input type="text" class="form-control" th:value="${detailObject.loginId}" disabled></input>
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="address" class="form-label">이메일</label> 
                        <input type="text" class="form-control" th:value="${detailObject.email}" disabled></input>
                    </div>
					<div class="col-sm-6">
                        <label for="firstName" class="form-label">전화번호</label> 
                        <input type="text" class="form-control" th:value="${detailObject.telNo}" disabled></input>
                    </div>
                    
				</div>
				<hr class="my-4">
				<div class="row g-3">
	                    <div class="col-sm-6">
	                        <label for="username" class="form-label">전공</label>
							<label class="form-control" id="전공">컴퓨터공학과</label>
	                    </div>
						<div class="col-sm-6">
							<label for="firstName" class="form-label">권한</label> 
							<select class="form-control" th:field="*{detailObject.role}">
								<option th:each="roleValue : ${T(com.metanet.intern.enummer.Role).values()}"
									th:value="${roleValue}"
									th:text="${roleValue}">
								</option>
							</select>
						</div>
	                    <div class="col-sm-6">
	                        <label for="lastName" class="form-label">생성일</label> 
	                        <input type="text" class="form-control" th:value="${detailObject.createDate}" disabled></input>
	                    </div>
	                    
	                    <div class="col-sm-6">
	                        <label for="firstName" class="form-label">수정일</label> 
	                        <input type="text" class="form-control" th:value="${detailObject.modifyDate}" disabled></input>
	                    </div>
              
                	</div>
            </div>
		</div>
	</div>
</div>
</html>