<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/login_layout">

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="p-5">
                <div class="text-center">
                    <h1>회원가입에 실패했습니다.</h1>
                    <h4 th:text="${errMessage}"></h4>
                    <h4>다시 시도해주세요.</h4>
                </div>
                <hr>
                <div class="text-center">
                    <a class="small" href="/account/join">회원가입</a>
                </div>
                <div class="text-center">
                    <a class="small" href="/login">로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>