<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{thymeleaf/layout/login_layout}">

<div class= "mt-auto" layout:fragment="content">
    <div class="row">
        <div class="mt-auto col-lg-6 d-none d-lg-block"><img class="img-responsive center-block" src="img/MDT.jpg" /></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">메타넷 학사정보 시스템</h1>
                </div>
                <form th:action="@{/login}" method="post"
                class="user needs-validation" novalidate>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control form-control-user" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="아이디" required>
                        <div class="invalid-feedback">아이디를 입력해주세요.</div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control form-control-user"
                            id="exampleInputPassword" placeholder="비밀번호" required>
                        <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">자동 로그인</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">로그인</button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">비밀번호 찾기</a>
                </div>
                <div class="text-center">
                    <a class="small" href="/account/join">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>