<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/login_layout">

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="p-5">
                <form class="user needs-validation" th:action="@{/account/join}" 
                th:object="${manager}" method="POST"  enctype="multipart/form-data"
                oninput='password2.setCustomValidity(password2.value != password.value ? "비밀번호가 맞지 않습니다." : "")'
                    novalidate>
                    <div class="form-group">
                        <img id="preview" src="/img/test.jpg"  class="img-responsive rounded mx-auto d-block border p-3" width="300" height="300" >
                        <input type="file" th:field="*{image}" id="getfile" accept="image/*"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" placeholder="ID" th:field="*{loginId}"
                            required>
                        <div class="invalid-feedback">아이디를 입력해주세요.</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="password" class="form-control form-control-user" placeholder="비밀번호"
                                th:field="*{password}" required>
                            <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                        </div>
                        <div class="col-sm-6">
                            <input type="password" name="password2" class="form-control form-control-user" placeholder="비밀번호확인">
                            <div class="invalid-feedback">비밀번호가 맞지 않습니다.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" placeholder="이메일" th:field="*{email}"
                            required>
                        <div class="invalid-feedback">이메일을 입력해주세요.</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" placeholder="이름"
                                th:field="*{name}" required>
                            <div class="invalid-feedback">이름을 입력해주세요.</div>
                        </div>
                        <div class="col-sm-6">
                            <select th:field="*{role}" id="" class="custom-select" required>
                                <option value="">권한선택</option>
                                <option value="manager">행정직원</option>
                                <option value="professor">교수</option>
                            </select>
                            <div class="invalid-feedback">권한을 선택해주세요.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="date" th:field="*{birth}" class="form-control form-control-user" required>
                        <div class="invalid-feedback">생년월일을 선택해주세요.</div>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-user" th:field="*{telNo}" placeholder="전화번호" required>
                        <div class="invalid-feedback">전화번호를 선택해주세요.</div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        회원가입
                    </button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">비밀번호 찾기</a>
                </div>
                <div class="text-center">
                    <a class="small" href="/login">로그인</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var file = document.querySelector('#getfile');
    
        file.onchange = function () { 
            var fileList = file.files ;
            
            // 읽기
            var reader = new FileReader();
            reader.readAsDataURL(fileList [0]);
    
            //로드 한 후
            reader.onload = function  () {
                document.querySelector('#preview').src = reader.result ;
                console.log(reader.result);
            }; 
        }; 
    </script>
</div>
</html>