<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-sm">
		<div class="card shadow mb-4">
			<div class="card-header py-3 d-flex">
				<div>
					<h6 class="m-0 font-weight-bold text-primary">교과목 등록</h6>
				</div>
			</div>
			<form class="needs-validation" method="POST" th:action="@{/education/create}" novalidate>
	            <div class="card-body">
	                <div class="row g-3">
	                    <div class="col-sm-6 mb-3">
	                        <label class="form-label">전공</label> 
							<select class="custom-select d-block w-100" th:field="*{education.major}">
								<option value="">전공을 선택하세요</option>
								<option th:each="major : ${majorList}"
									th:value="${major.id}"
									th:text="${major.title}">
								</option>
							</select>
							<div class="invalid-feedback">전공을 선택해주세요.</div>
	                    </div>
	                    
	                    <div class="col-sm-6 mb-3">
	                        <label>이수구분</label> 
							<select class="form-control" th:field="*{education.division}">
								<option value="">이수구분을 선택하세요</option>
								<option th:each="roleValue : ${T(com.metanet.intern.enummer.EducationDivision).values()}"
									th:value="${roleValue.name()}"
									th:text="${roleValue}">
								</option>
							</select>
							<div class="invalid-feedback">이수구분을 선택해주세요.</div>
	                    </div>
	                    <div class=" col-sm-6 mb-3">
							<label for="title">교과목명</label> 
							<input type="text" class="form-control" id="title" th:field="*{education.title}"
								placeholder="교과목을 입력해주세요" required>
							<div class="invalid-feedback">교과목명을 입력해주세요.</div>
						</div>
						<div class=" col-sm-6 mb-3">
							<label for="code">교과목코드</label> 
							<input type="text" class="form-control" id="code" th:field="*{education.code}"
								placeholder="교과목을 입력해주세요" required>
							<div class="invalid-feedback">교과목명을 입력해주세요.</div>
						</div>
					</div>
	                    
	                <hr class="my-4">
	
					<div class="row g-3">
	                    <div class="col-sm-6 mb-3">
	                        <label class="form-label">학점</label> 
	                        <div class="custom-control custom-radio">
								<input name="credit" th:field="*{education.credit}" value="0" id="zero"  type="radio" class="custom-control-input" checked required>
								<label class="custom-control-label" for="zero">0</label>
							</div>
							<div class="custom-control custom-radio">
								<input name="credit" th:field="*{education.credit}" value="1" id="one" type="radio" class="custom-control-input" required>
								<label class="custom-control-label" for="one">1</label>
							</div>
							<div class="custom-control custom-radio">
								<input name="credit" th:field="*{education.credit}" value="2" id="two" type="radio" class="custom-control-input" required> 
								<label class="custom-control-label" for="two">2</label>
							</div>
							<div class="custom-control custom-radio">
								<input name="credit" th:field="*{education.credit}" value="3" id="three" type="radio" class="custom-control-input" required> 
								<label class="custom-control-label" for="three">3</label>
							</div>
	                    </div>
	                </div>
	                <hr class="mb-4">
					<div class="row g-3">
						<div class="col-12 mb-3">
							<textarea name="contents" id="contents" th:field="*{education.content}">[[*{contents}]]</textarea> 
						</div>
	                </div>
					<hr class="mb-4">
					<button class="btn btn-lg btn-outline-info btn-block" type="submit">등록</button>
	            </div>
            </form>
		</div>
	</div>

	<script >
		$(function () {
			CKEDITOR.replace('contents', { 
				width:'1000px',
				filebrowserUploadUrl: '/common/ckeditor/fileUpload', 
				font_names: "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana", 
				font_defaultLabel: "맑은 고딕/Malgun Gothic", 
				fontSize_defaultLabel: "12",
				language: "ko" });
		});

		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict';

			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');

				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
</div>
</html>