<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">교과목 조회</h6>
			</div>
			<div class="card-body">
				<div class="d-flex mb-2">
					<div class="input-group col-lg-6 mr-auto">
						<div class="input-group-prepend">
							<select name="" id="" class="form-control">
								<option value="">
									과목코드
								</option>
								<option value="">
									과목명
								</option>
							</select>
						</div>
						<input type="text" class="form-control">
						<button class="col-1 col-md-2 col-sm-2 btn btn-sm btn-outline-primary mr-auto">검색</button>
					</div>
					<button class="col-1 btn btn-sm btn-outline-info" onclick="location.href='/education/create'">등록</button>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>과목코드</th>
								<th>
									<select class="form-control">
										<option value="">
											전공명
										</option>
										<option value="">
											컴퓨터공학
										</option>
										<option value="">
											물리학
										</option>
									</select>
								</th>
								<th>과목명</th>
								<th>
									<select class="form-control">
										<option value="0">
											학점
										</option>
										<option value="1">
											1
										</option>
										<option value="2">
											2
										</option>
										<option value="3">
											3
										</option>
									</select>
								</th>
								<th>
									<select class="form-control">
										<option value="0">
											이수구분
										</option>
										<option value="">
											전공필수
										</option>
										<option value="">
											전공선택
										</option>
										<option value="">
											전공심화
										</option>
										<option value="">
											교양필수
										</option>
										<option value="">
											교양선택
										</option>
									</select>
								</th>
								<th>개설과목등록</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="/education/detail">F150E</a></td>
								<td>컴퓨터공학</td>
								<td>전산이론</td>
								<td>3</td>
								<td>전공필수</td>
								<td>
									<button 
									class="btn btn-sm btn-outline-info" 
									data-toggle="modal" data-target="#myModal">
										등록
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-center">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->

	<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">개설과목등록</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>과목코드</th>
								<th>전공명</th>
								<th>과목명</th>
								<th>학점</th>
								<th>이수구분</th>
								<th>교수선택</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>F150E</td>
								<td>컴퓨터공학</td>
								<td>전산이론</td>
								<td>3</td>
								<td>전공필수</td>
								<td>
									<select class="form-control">
										<option value="">교수선택</option>
										<option>한항규</option>
										<option>안재엽</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">등록</button>
				</div>

			</div>
		</div>
	</div>
</div>

</html>