<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="thymeleaf/layout/default">

<div layout:fragment="content">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- DataTales Example -->
		<div class="card shadow mx-auto w-75 mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">교과목 관리</h6>
			</div>
			<form id="pageForm" class="card-body" th:object="${condition}" action="/education/list">
				<div class="d-flex mb-2">
					<div class="input-group mr-auto">
						<div class="input-group-prepend">
							<select name="" id="" class="form-control mr-2" th:field="*{type}">
								<option value="">
									검색조건
								</option>
								<option value="code">
									과목코드
								</option>
								<option value="title">
									과목명
								</option>
							</select>
							<select class="form-control mr-2" th:field="*{major}">
								<option value="">전공</option>
								<option th:each="major : ${majorList}"
									th:value="${major.id}"
									th:text="${major.title}">
								</option>
							</select>
							<select class="form-control mr-2" th:field="*{credit}">
								<option value="">
									학점
								</option>
								<option value="0">
									0
								</option>
								<option value="1">
									1
								</option>
								<option value="2">
									2
								</option>
								<option value="3">
									3
								</option>
							</select>
							<select class="form-control mr-2" th:field="*{division}">
								<option value="">이수구분</option>
								<option th:each="roleValue : ${T(com.metanet.intern.enummer.EducationDivision).values()}"
									th:value="${roleValue.name()}"
									th:text="${roleValue}">
								</option>
							</select>
						</div>
						<input type="text" class="form-control mr-2" th:field="*{text}">
						<button class="btn btn-outline-primary mr-auto">검색</button>
						<button type="button" class="btn btn-outline-info" onclick="location.href='/education/create'">등록</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover text-center" id="dataTable">
						<thead>
							<tr>
								<th>과목코드</th>
								<th>전공</th>
								<th>과목명</th>
								<th>학점</th>
								<th>이수구분</th>
								<th>개설과목등록</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="education : ${page.getContent()}">
								<td>
									<a th:href="@{/education/detail/}+${education.id}" th:text="${education.code}"></a>
								</td>
								<td>
									<a th:href="@{/education/detail/}+${education.id}" th:text="${education.major.title}"></a>
								</td>
								<td th:text="${education.title}"></td>
								<td th:text="${education.credit}"></td>
								<td th:text="${education.division}"></td>
								<td>
									<a class="btn col-md-8 btn-outline-info" th:href="${'/lecture/create/' + education.id}">
										등록
									</a>
								</td>
								<td>
									<a class="btn col-md-8 btn-outline-danger" th:href="@{/education/delete(id=${education.id})}">
										삭제
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-center">
					<ul class="pagination" th:if="${pager.totalRows != 0}">
						<li class="page-item" th:if="${!page.isFirst()}"><a class="page-link" th:onclick="pageMove(0)">처음</a></li>
						<li class="page-item" th:if="${pager.groupNo > 1 }"><a class="page-link" th:onclick="|pageMove('${pager.startPageNo-1}')|">이전</a></li>
						<th:block th:each="num : ${#numbers.sequence(pager.startPageNo,pager.endPageNo)}"> 
							<li class="page-item">
								<a class="page-link" th:onclick="|pageMove('${num-1}')|"th:text="${num}"></a> 
							</li>
						</th:block>
						<li class="page-item" th:if="${pager.groupNo < pager.totalGroupNo}">
							<a class="page-link" th:onclick="|pageMove('${pager.endPageNo+1}')|">다음</a>
						</li>
						<li class="page-item" th:if="${!page.isLast()}"><a class="page-link" th:onclick="|pageMove('${page.getTotalPages()-1}')|">맨끝</a></li>
					</ul>
				</div>
			</form>
		</div>

	</div>
	<script>
		function pageMove(pageNo){
			console.log('페이지이동:'+pageNo);
			//$('#pageForm').attr('action','주소').submit();
			var url = '/education/page/'+pageNo;
			$('#pageForm').attr('action',url).submit();
		}
	</script>
</div>

</html>